.Header, .Footer {
    text-align: center;
    background-color: #eee;
    padding: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.machine.active {
    color:blue;
}

.machine {
    margin-left: 50px;
    color: grey;
    font-family: monospace;
}

.btn {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 10px;
}


